body{
  font-family: Lato,sans-serif;
  background-color: #f4f9f4;


}
h2{
  font-weight: bold;
}
td{
  vertical-align: baseline;
}
select, .text-field{
  border:1px solid #ccc;
  background-color: white;
  height: 30px;
  color: #555;
  font-size: 15px;
  border-radius: 4px;
}


label{
  display: inline-block;
  margin: 10px;
}
.form-div{
  text-align: left;
  margin-left: 35%;



}
table{

  margin: auto;
  border-collapse: collapse;

}
hr{

  margin-bottom: 0;
}
th{
  height: 40px;
  color: white;
  background-color: grey;
}

td{
  height: 30px;
  text-align: center;
  width: 400px;

  vertical-align: middle;
  border: 1px solid #ddd;
}
.inner-total-score{
  position: absolute;
  right:0;
  height: 100px;
  width: 100px;
  background-color: grey;
}
.short-title{
  padding-right: 100px;
}

.total-score{
  position: -webkit-sticky;
  position:sticky;
  display:inline-block;
  bottom: 50%;
  left: 80%;
  color: white;
  background-color: #103c42;
  border-radius: 20px;
  /* height: 250px; */
  width: 290px;
  text-align: center;
  box-shadow: 10px 10px 5px grey;

}


.section-a, .section-b, .section-c, .section-d{

  position:relative;
  /* bottom: 300px; */
  margin: auto;

}
.section-b{
  display: none;
}
.body-container{
  display: inline-block;
  position: relative;
  left: 30%;
  /* margin:  0 30%; */
  text-align: center;
  border-color: grey;
  border-style: solid;
  border-width: 1px;


}

.mix-form{
  margin-bottom: 10px;

}
.marriage{
  margin-bottom: 2em;
}

#final-score{
  font-weight: bold;
}
